.side-bar{
    width: 75px;
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    padding-top: 4px;
}
.sidebar-icon-container{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-icon-container:hover{
    background-color: rgb(224, 220, 220);
}
.side-bar img{
    height: 24px;
    margin-bottom: 4px;
}
.side-bar div{
    font-family: Roboto, Arial;
    font-size: 10px;

}