.side-bar{
    width: 80px;
    position: fixed;
    top: 58px;
    bottom: 0;
    left: 0;
}
.sidebar-icon-container{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-icon-container:hover{
    background-color: rgb(224, 220, 220);
}
.side-bar img{
    height: 24px;
    margin-bottom: 4px;
}
.side-bar div{
    font-family: Roboto, Arial;
    font-size: 10px;

}