.feed-thumbnail{
    width: 100%;
    margin-bottom: 12px;
}    
.video-preview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
.video-info{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-title{
    margin-top: 0;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
}
.profile-image{
    border-radius: 50px;
    width: 40px;
}
.video-author,.video-stats{
    color: gray;
    font-size: 12px;
}
.video-author{
    margin-bottom: 0;
}
.video-stats{
    margin-top: 5px;
}